doctype html
html
    head
        title #{siteName}
        link(rel="stylesheet", href = "/static/styles.css")
    body 
        include ../partials/header

        main.container
            block content 

        include ../partials/footer

        script(src="/static/main.js")