doctype html
html
    head
        title #{siteName}
        link(rel="stylesheet", href = "/static/styles.css")
    body 
        include ../partials/header
        main 
            block content 
        footer
            span 무슨무슨네컷

        script(src="/static/main.js")