extends layouts/main 
include mixins/photoBlock

block content
    .form-container 
        form(action=`/photo${routes.upload}`, method="post",  enctype= "multipart/form-data")
            label(for="file") 사진 선택하기
            input(type="file", id="file", name="photo" ,required=true)
            input(type="submit", value="사진 고르기")
    .photos
        each photo in photos 
            +photoBlock({
                photoFile: photo.fileUrl
            })

    a(href= routes.photo + routes.frame).button 다음!
    a(href= routes.photo + routes.delete).button 지우기!