extends layouts/main 

block content
    .frame-container
        .framebox
            .frame
                img(src="/uploads/frames/black.jpg")
        .framebox
            .frame
                img(src="/uploads/frames/navy.jpg")
        .framebox
            .frame
                img(src="/uploads/frames/red.jpg")
        .framebox
            .frame
                img(src="/uploads/frames/white.jpg")
    .buttonbox
        a(href= routes.photo + routes.sendMail).button 다음!