extends layouts/main 

block content
    .frame-container
        .framebox
            .frame
                img(src="/uploads/frames/black.jpg")
    .buttonbox
        a(href= routes.photo + routes.makePhoto).button 다음!