extends layouts/main 

block content
    .sendMail-container
        .final-imgbox
            img(src="/uploads/done/final.jpg")
        .name-container 
            form(action= routes.photo + routes.sendPhoto, method="post")
                label(for="text") 이름을 입력해주세요
                input(type="text", id="text", name="userName", placeholder="여기에 입력!", required=true)
                label(for="email") 이메일을 입력해주세요
                input(type="text", id="eamil", name="email", placeholder="여기에 입력!", required=true)
                input(type="submit", value="메일 보내기!")