@import "config/variables";
@import "config/reset.scss";
@import "main.scss";
@import "partials/header.scss";
@import "partials/footer.scss";
@import "pages/home.scss";
@import "pages/photo.scss";
@import "pages/choosePhoto.scss";
@import "pages/frames.scss";
@import "pages/sendMail.scss";

// 폰트
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "ONE-Mobile-POP";
  color: white;
  text-shadow: 2px 2px 0px rgba(153, 153, 153, 0.74);
}
