.choosePhoto-conatiner {
  text-align: center;
  font-size: 20px;
  margin-top: -300px;
}
.select-container {
  display: flex;
}
.photos {
  display: flex;
  flex-direction: column;
}
.form-container {
  display: flex;
}
.choosePhoto-conatiner {
  display: flex;
  flex-direction: column;
}

.imgbox {
}

.imgbox > img {
  height: 30vh;
  width: 30vw;
}
