.choosePhoto-conatiner {
  text-align: center;
  font-size: 20px;
  margin-top: -75px;
  display: flex;
  flex-direction: column;
}
.select-container {
  display: flex;
  box-sizing: border-box;
}
.imgbox > img {
  height: 10vh;
  width: 15vw;
}
.form-container > input[type="submit"] {
  color: black;
}
.button__text {
  font-size: 50px;
}
