.frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.framebox {
  display: flex;
}
.frame > img {
  width: 14vw;
  margin: 13px;
}

.form-container > input[type="submit"] {
  margin-top: 5px;
  color: black;
}
