.frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.framebox {
  display: flex;
}
.frame > img {
  width: 14vw;
  margin: 13px;
}
.frame__text {
  font-size: 20px;
  text-align: center;
}
.form-container-frame {
  position: relative;
  top: -290px;
}
.frame-submit {
  margin-top: 5px;
  color: black;
}

.form-container-frame {
  font-size: 20px;
}
.form-container-frame > label,
input {
  margin-top: 10px;
}
