.sendMail-container {
  margin-top: 200px;
  display: flex;
  align-items: center;
}
.final-imgbox > img {
  height: 70vh;
}
.name-container {
  margin-left: 100px;
}
.name-container > input::placeholder {
  text-align: center;
}
